* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  overflow-x: hidden;
  position: relative;
  width: 100%;
  font-family: "Francois One", serif;
}

#root {
  overflow-x: hidden;
  max-width: 100vw;
}

.events,
.newsletter {
  width: 100%;
  max-width: 100%;
  padding: 0 20px;
  overflow-x: hidden;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  font-family: "Francois One", serif;
}

@keyframes fadeInConfetti {
  from {
    opacity: 0;
    transform: translateY(-20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
